<div class="row">
	<div class="col-xs-12">
		<p class="text-center">Dashboard Content Goes Here</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<?php
		foreach($dashboard->tools_nav as $link) {
			echo '<div class="col-xs-3">';
			echo '<a href="'.htmlentities($link->url).'" class="thumbnail">';
			echo '<img src="'.htmlentities($link->imagepath).'" class="img-rounded" style="height:200px;">';
			echo '</a>';
			echo '</div>';
		}
		?>
	</div>
</div>

<div class="row">
	<div class="col-xs-12"><a href="pixabay.com">-images freely provided by pixabay.com-</a></div>
</div>