<div class="row">
	<div class="col-xs-12">
		<p class="text-center">Dashboard Content Goes Here</p>
	</div>
</div>

<div class="row">
<div class="col-xs-4"><a href="" class="thumbnail">Col1</a></div>
<div class="col-xs-4"><a href="" class="thumbnail">Col2</a></div>
<div class="col-xs-4"><a href="" class="thumbnail">Col3</a></div>
</div>

<div class="row">
<div class="col-xs-4"><a href="" class="thumbnail">Col1</a></div>
<div class="col-xs-4"><a href="" class="thumbnail">Col2</a></div>
<div class="col-xs-4"><a href="" class="thumbnail">Col3</a></div>
</div>