<div class="row">
	<div class="col-xs-12">
		<p class="text-center"><h1>Tools</h1></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<?php
		foreach($dashboard->tools_nav as $link) {
			echo '<div class="col-md-3 col-sm-6 col-xs-12">';
			echo '<a href="'.htmlentities($link->url).'" class="thumbnail" style="height:175px;">';
			echo '<div class="caption text-center"><h3>'.htmlentities($link->text).'</h3></div>';
			echo '<div class="image">';
				echo '<img src="'.htmlentities($link->imagepath).'" class="img-responsive center-block" style="width:100px">';
			echo '</div>';
			echo '</a>';
			echo '</div>';
		}
		?>
	</div>
</div>

<div class="row">
	<div class="col-xs-12"><a href="https://www.pixabay.com">-images freely provided by pixabay.com-</a></div>
</div>