<?php require_once "functions/output_helpers.php"; ?>

<div class="row">
	<div class="col-xs-12">
		<h1>Local Network Scan</h1><hr>
	</div>
	<div class="col-xs-12">
		<?php outputArray($arpscan_data->results); ?>
	</div>
	<div class="col-xs-12">

		<table>
		<tr><td>IP Address</td><td>Mac Address</td></tr>
		<?php
		foreach($arpscan_data->machines as $machine){
			?>
			<tr>
				<td><?php echo htmlentities($machine->ip); ?></td>
				<td><?php echo htmlentities($machine->mac); ?></td>
			</tr>
			<?php
		}
		?>
		</table>
	</div>
</div>