<!-- ping.html -->
<?php require_once "functions/output_helpers.php"; ?>

<div class="row">
	<div class="col-xs-12">
		<h1>Ping</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<form action="ping.php" class="form-inline" method="get">
		  <div class="form-group">
		    <label for="ip">Address/Domain</label>
		    <input type="text" class="form-control" id="ip" name="ip" placeholder="localhost, IP, or domain"></input>
		  </div>
		  <button type="submit" class="btn btn-default">Start Ping</button>
		</form>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12" id="results">
		<?php 
		echo outputTable($ping->responses, array("Ping #", "Response"), true);
		?>
	</div>
	<div class="col-md-6"></div>
	<div class="col-xs-12">
		<?php outputArray($ping->info); ?>
		<hr>
	</div>
</div>

<div class="footer">
		<?php echo htmlentities($ping->footer_text); ?>
</div>