<!-- wifi.html -->
<?php require_once "functions/output_helpers.php"; ?>

<div class="row">
	<div class="col-xs-12">
		<h1>Wifi Connections</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12" id="results">
		<?php 

		//echo outputTable($wifi->results, array("Data Point", "Value"), true);
		$title_array = array("Name", "Channel", "Frequency", "Quality", "Encryption Key Status", "IEEE Type", "Group Cipher", "Pairwise Cipher", "Authentication Suite", "Mode");

		echo outputTable($wifi->hotspots, $title_array, false);
		//foreach($wifi->hotspots as $hotspot) {
			//echo outputTable($hotspot, $title_array, false);
		//}

		?>
	</div>
	<div class="col-md-6"></div>
</div>