<!-- wifi.html -->
<?php require_once "functions/output_helpers.php"; ?>

<div class="row">
	<div class="col-xs-12">
		<h1>Wifi Connections</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-6" id="results">
		<?php 

		//echo outputTable($wifi->results, array("Data Point", "Value"), true);

		foreach($wifi->hotspots as $hotspot) {
			echo outputTable($hotspot, array("Name", "Channel", "Frequency", "Quality", "Encryption Key Status", "IEEE Type", "Group Cipher", "Pairwise Cipher", "Authentication Suite", "Mode"), false);
		}

		?>
	</div>
	<div class="col-xs-6"></div>
</div>